html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	font-family: Ubuntu;
	background: #f5f8fb;
}

#header {
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;
	background: #f5f8fb;
	color: #bbbbbb;
}

#headerContent {
	height: 60px;
	width: 100%;
}

#page {
	display: flex;
	height: calc(100vh);
	/* calculate the height. Header is 30px */
}

#sideBar {
	width: 16%;
	background: #fff;
	border-right: 2px solid #edf1f6;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#content {
	background: #f5f8fb;
	flex: 1 0 auto;
	/* enable grow, disable shrink */
}

.navbar__link.navbar__link--active {
	color: #1674ff;
	border-bottom: 2px solid #1674ff;
}

.navbar__link {
	color: #96a9c8;
	font-weight: bold;
}
